html {
    background-color: #e8eaed;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    user-select: none;
    margin: 2px 0px 0px 0px; 
    background-color: #e8eaed;
}

.app {
    margin: auto;
    width: 375px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 3px 5px 1px #DDD;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px solid #DDD;
}
span {padding-right: 8px;}
#cc {color:#00B8F0}
#cb {color: #E1288E}
#wr {color: #939498}


.controls {
    display: flex;
    border-bottom: 1px solid #DDD;
    padding: 10px 10px 10px 0px;
}
.control-btns {
    display: flex;
    width: 50%; 
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border-radius: 20px;
    border: 1px solid lightgrey;
}

button {
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: filter 0.3s;
    box-shadow: 0px 1px 4px 0px #AAA;
}

button:active {
    filter: brightness(0.7);
}
#left, #right, #accelerate, #reverse {
    font-family: "Inter", Calibri;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 8px;
    color: #555;
    width: 65px;
    height: 65px;
    border: 1px solid;
}


#left, #right {border-color: #00B8F0; transform: rotate(-90deg)}
#accelerate, #reverse {border-color: #E1288E;}


.actions {
    display: flex;
    padding: 10px;
}
.actions button {
    font-size: 11px;
    width: 100px;
    padding: 10px 10px 10px 40px;
    text-align: center;
    background-position: left 10% bottom 65%;
    background-repeat: no-repeat;
}
#clientConnectButton {
    background-image:url(./images/circuit_cubes_bluetooth_28.png);
}
#remoteConnectButton {
    background-image:url(./images/lego_remote_28.png);
}
#settingsButton {
    background-image:url(./images/gear_28.png);
}
.connected {
    color: white;
    background-color: #3498db;
}


#settings {
    display: none;
    padding: 0px 10px 10px 10px;
    text-align: left;
    font-size: 11px;
}
.group {
    display: flex;
}
.set {
    border-radius: 10px;
    border: 1px solid lightgrey;
    padding: 5px;
    margin: 2px;
}
input {
    font-size: inherit;
}
input:disabled {
    color: black;
}
#steer_speed, #drive_speed, #interval {
    width: 20px;
    border: none;
    text-align: right;
}
#inc, #dec {
    margin: 1px;
    border: 1px solid #3498db;
    width: 20px;
    height: 20px;
}
#terminal {
    display: none;
}


.about {
    padding: 5px;
    font-size: 10px;
    border-top: 1px solid #DDD;
}

a {
    color: inherit;
}
a:link  {
    text-decoration: none;
}
a:hover  {
    text-decoration: underline;
}
a:visited {
    color: inherit;
}